/*
* @Author: Marte
* @Date:   2017-07-31 15:21:06
* @Last Modified by:   Marte
* @Last Modified time: 2017-07-31 15:22:13
*/
.TodoInput {
  width: 100%;
  line-height: 1.8;
  margin-bottom: 1em;
  font-size: 16px;
  padding: 0 .2em;
}